:root {
  --primary-color: #5460cd;
  --secondary-color:#dcdcdc;
  --hover-primary-background:rgb(50, 50, 232);
  --color-background: #f6f6f9;
  --white-background:white;
  --color-light: rgba(132, 139, 200, 0.18);
  --box-shadow: 0 2rem 3rem var(--color-light);


}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--color-background);
}

input {
  border: 1px solid black;
  border-radius: 5px;
}
.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}



.form {
  
  width: clamp(70%, 30%, 430px);
  margin: 1rem auto;
  /* border: 1px solid #ccc; */
  /* border-radius: 0.35rem; */
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  flex-grow: 1;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin: 2px 5px;
  border-radius: 15px;
}
.input-group input::placeholder{
  text-align: center;
}
@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}


.box {
  background-color: var(--white-background);
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px 20px;
  margin: 2rem 0;
  box-shadow: var(--box-shadow);
}
.box:hover{
  box-shadow: none;
}
.inner-box {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    flex-direction: column;
}

.inner-box div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#hs-marks .input-group{
  /* display: block; */
  /* flex-grow: 1; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#hs-marks label{
  flex: 1 0 100%;
  margin-right: 10px;
}
#hs-marks .input-group input{
  /* width: auto; */
  flex: 1 0 calc(48% - 5px); /* 50% width with margin */
  margin: 5px;
}

#sgpa input{
  display: flex;
  flex: 1 0 calc(48% - 5px);
  width: auto;
  padding: 10px;
  margin: 12px 5px;
}

.btns-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
}

.btn:hover {
  background-color: var(--hover-primary-background);
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

.asterisk {
  color: red;
  font-size: larger;
}

.address:last-child {
  margin-top: 35px;
}

.indexing {
  margin-left: 6px;
  background-color: black;
  color: white;
  height: 30px;  
  width: 30px;
  border-radius: 50%;  
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .form {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 95%;
  }
}