/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
}

/* Centering heading */
h3 {
  text-align: center;
  margin-top: 2rem; /* Using rem for consistent scaling */
  margin-bottom: 1.5rem; /* Consistent bottom margin */
  color: #333; /* Dark gray */
  font-size: 1.5rem; /* Responsive font size */
  font-weight: bold;
}

/* Centering container div */
.container {
  width: 90%;
  max-width: 500px;
  margin: 5vh auto; /* Responsive vertical margin */
  margin-top: 8vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.2); /* Slightly lighter shadow for subtlety */
  transition: transform 0.3s; /* Smooth scaling */
}

.container:hover {
  transform: scale(1.05);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

/* Form group styling - Updated for alignment */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the start */
  margin: 10px; /* Consistent margin for spacing */
  width: 90%; /* Matches the select box width */
  margin-left: auto; /* Centers the form group */
  margin-right: auto;
}

/* Label styling */
label {
  font-weight: bold;
  margin-bottom: 0.5rem; /* Responsive space between label and select box */
  color: #555;
}

/* Select styling for responsive design */
select {
  width: 100%; /* Full width of form-group, adjusted for flex-start alignment */
  padding: 0.9rem; /* Slightly larger padding for touch targets */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem; /* Responsive font size */
}

/* Submit button styling */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem; /* Responsive font size */
  transition: background-color 0.3s ease;
  display: block; /* Ensure the button is block level for margin auto to work */
  margin: 0 auto; /* Centers the button horizontally */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"] a {
  color: #fff; /* White hyperlink color */
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20px; /* Increased bottom margin for smaller screens */
    padding: 15px;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem; /* Smaller font size for smaller screens */
  }

  select {
    padding: 0.8rem; /* Adjust padding for smaller screens */
  }
}