/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Roboto', sans-serif; /* Use a material design font */
  background-color: #f5f5f5; /* Use a light gray background */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Removing default margin */
  padding: 0; /* Removing default padding */
}

/* Centering heading */
h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  color: #333;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Centering container div */
.container {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.2); /* Slightly lighter shadow for subtlety */
  transition: transform 0.3s; /* Smooth scaling */
}

.container:hover {
  transform: scale(1.05);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

/* Form group styling */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the start */
  margin: 5px; /* Consistent margin for spacing */
  width: 90%; /* Matches the select box width */
  margin-left: auto; /* Centers the form group */
  margin-right: auto;
}

/* Label styling */
label {
  font-weight: bold;
  margin-bottom: 0.25rem; /* Responsive space between label and select box */
  color: #555;
  font-size: 14px;
}

/* Select styling for responsive design */
select,
input[type="date"] {
  width: 100%; /* Full width of form-group, adjusted for flex-start alignment */
  padding: 0.5rem; /* Slightly larger padding for touch targets */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 13px; /* Responsive font size */
  background-color: #f5f5f5; /* Use a light gray background */
}

/* Submit button styling */
button[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(72, 72, 255); /* Use a material design green color */
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px; /* Responsive font size */
  transition: background-color 0.3s ease;
  display: block; /* Ensure the button is block level for margin auto to work */
  margin: 15px auto ; /* Centers the button horizontally */
}

button[type="submit"]:hover {
  background-color: #392f83; /* Use a darker material design green color */
}

button[type="submit"] a {
  color: #fff; /* White hyperlink color */
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px; /* Adding some padding to ensure content does not touch the edges */
    height: 100vh; /* Maintain full viewport height */
  }

  .container {
    width: 90%; /* Use full width for better utilization of small screens */
    max-width: 100%; /* Override max-width to fit the device width */
    margin: auto;
    padding: 15px; /* Sufficient padding for touch interaction */
    box-shadow: none; /* Optionally remove shadow for a cleaner look on small devices */
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.2); /* Slightly lighter shadow for subtlety */
    transition: transform 0.3s; /* Smooth scaling */
  }

  .container:hover {
    transform: scale(1.05);
  }

  h3 {
    font-size: 1.2rem; /* Adjust font size for readability on small devices */
  }

  select,
  input[type="date"] {
    padding: 0.5rem; /* Adjust padding for easier interaction on touch devices */
  }
}

.toast-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
}

.toast-content .toast-icon {
  margin-right: 10px;
}
