:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --box-background:white;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
    --box-background:rgba(229, 229, 229, 0.203);
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1{
    font-size: 1.8rem;
    font-weight: 800;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: hidden;
    margin-right: 2rem;
}

.text-muted {
    color: var(--color-info-dark);
}   

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    box-sizing: content-box;
    margin-left: 10px;
    height: 100vh;
    width: 20vw;
    /* overflow: hidden; */
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 3rem;
    height: 3rem;
}

aside .logo h2{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: var(--color-dark-variant);
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}


main{
    width: 90vw;
    overflow-y: auto;
}
.right-top {
    margin-top:1.4rem;
}
.right-top .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-top .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}




/* -----------------dashboard----------------- */


.dashboard{
    /* box-sizing: content-box; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid green; */
    align-items: center;



    /* display: none; */




}
.dashboard h1{
    color: var(--color-dark);
}
.dashboard-content{
    /* border: 2px solid red; */
    box-shadow: var(--box-shadow);
    background-color:var(--box-background);
    margin: 2px;
    color: var(--color-dark);
}

.dashboard-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/* height: 100%; */
width: 75%;
padding: 10px;
border-radius: 10px;
font-size: 16px;
justify-content: space-evenly;
margin: 1.5em;
transition: all 300ms ease;
}
.dashboard-content:hover{
    box-shadow: none;
}
.dashboard-content h3{
}
.dashboard-content input{
    border: 1px solid black;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    width: 200px;
    height: 25px;
    flex-grow: 1;
    flex-shrink: 1;
}
.dashboard-content label{
    padding-bottom: 7px;
    text-align: center;
    flex-wrap: wrap;

}

#student-det{
    /* background: #abe4ff; */
}
.box{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.box input{
}


#det-start-btn{
    background: none;
    justify-content: flex-start;
    box-shadow: none;

}
#det-start-btn button{
    border: 1px solid;
    background-color: var(--color-primary);
    margin: 2px 5px;
padding: 5px;
border-radius: 3px;
/* box-shadow: var(--box-shadow); */
cursor: pointer;
}

#det-start-btn #Personal{
    background-color: #45d6a6;
}

#address{
    background-color: var(--box-background);
    flex-direction: column;
}
#address h3{
    text-align: center;
    padding: 5px;
    margin: 10px 0px 18px 0;
}
.outer_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.2rem;
}

#total-marks h3{
}

#total-marks , #hs-marks{
    background: var(--box-background);
}


.external_box{
    display: flex;
    flex-wrap: wrap;
}

.external_box .outer_box{
    /* border: 1px solid rgb(62, 125, 62);/ */
    /* box-shadow:1px 1px 1px rgb(62, 125, 62) ; */
    border-radius: 4px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 3px 6px 4px;
}
.external_box .outer_box .outer_box{
    border: none;
}

.external_box .outer_box h3{
    text-align: center;
    /* margin: 5px 0 10px 0; */
}

#hs-marks h3{
    margin: 3px 0 15px 0
}

#present-details{
    background: var(--box-background);
    flex-direction: column;
}

#present-details h3{
    text-align: center;
    margin: 0.5rem 0;
}

#current-address-label{
    text-align: start;
}
#current-address{
    width: 100%;
}


#det-end-btn{
    justify-content: flex-start;
    box-shadow: none;
    background: none;
}
#submit{
    margin-right: 34px;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    background: #8282ff;
    width: 4.2rem;
    cursor: pointer;
}

#back{
    margin-right: 34px;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    background: #ef4343;
    width: 4.2rem;
    cursor: pointer;
}
#guardian-det{
    display: none;
}
#sem-result{
    display: none;
}





.sem-submit{
    /* display: flex;
    border: 2px solid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; */


    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-top: 16vh;



    display: none;
}
.sem-submit form{
    display: flex;
    flex-direction: column;
    background-color: var(--box-background);
    width: 40vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    color: var(--color-dark);
}
.sem-submit form:hover{
    box-shadow: none;
}
.sem-submit form label{
    text-align: left;
    width: 55%;
}

.sem-submit form select{
    margin:6px 0;
    width: 55%;
    border: 1px solid;
    border-radius: 8px;
    height: 15%;
    text-align: center;
    cursor: pointer;
}
#sem{
border: 1px solid green;
}
#sem-form-submit{
    background: #7380EC;
    width: 20%;
    border-radius: 5px;
    padding: 2px 0;
    margin-top: 8px;
    color: var(--color-white);
    font-size: 15px;
    cursor: pointer;
}




table, th, td {
    border:1px solid rgb(145, 145, 145);
    border-collapse: separate;
    margin: 1rem 1.5rem;
}
td{
    padding: 5px 7px;
}

#table-container {
    font-size: 15px;
    overflow-x: auto;
    /* height: 70vh; */
    background: var(--color-white);
    width: 70vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    /* margin-left: auto; */
    color: var(--color-dark);




    display: none;




}

#table-container:hover{
    box-shadow: none;
}

#table-container h1{
    margin-top: 15px;
}


table {
    /* border-collapse: separate; Use separate instead of collapse */
    /* border-spacing: 0; Optional, sets the distance between borders */
    /* border-radius: 10px; Set the border radius */
}

th, td {
    border: 1px solid rgb(145, 145, 145);
    /* padding: 8px; */
    /* text-align: center; */
}


/* tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

tr:nth-child(odd) {
    color: #677991;
}

tr:nth-child(even) {
    color: #9c4268;
} */

/* -------media queries-------------- */


@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    /* aside .logo h2{
        display: none;
    }
    
    aside .sidebar h3 {
        display: none;
    } */

    aside .sidebar a {
        /* width: 5.6rem; */
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }
}








/* ----------------------dark mode--------------------------- */





#mode {
    width: 55px;
    height: 25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgb(255, 255, 255, 0.4);
}

#mode:after {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 122px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle:checked+#mode {
    background: #242424;
}

#darkmode-toggle:checked+#mode:after {
    left: 53px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #b8b6b6, #3a3a3a);
}

#mode,
#mode:after {
    transition: 0.8s;
}

#mode:active:after {
    width: 26px;
}


/* ...................... */

/* #darkmode-toggle:checked + #mode +  #dashboard{
    background-color: #01ff09;
    color: rgb(190, 14, 14);
} */

#mode .material-symbols-outlined{
    font-size: 20px;
}
.sun {
    font-size: 17px;
    position: relative;
    top: 2px;
    left: 2px;
    color: #fff;
    transition: 0.8s;
    z-index: 100;
}

.moon {
    font-size:15px;
    position: relative;
    top: 2px;
    left: 10px;
    color: #7e7e7e;
    transition: 0.8s;
    z-index: 100;
}

#darkmode-toggle:checked+#mode .sun {
    color: #d9c8c8;
}

#darkmode-toggle:checked+#mode .moon {
    color: #e3e3e3;
}